---
layout: landing
title: Home
description: Full stack web developer, here to help you.
---

<p class="text-left">Hey there!<br><br> Welcome to my lil space on the Internet. I'm a freelance full stack web developer</a> with 10+ years of experience building things on the web. If you're looking for <a href="/services">help from someone like me</a>, take a look at some of my recent <a href="/projects">projects</a>:</p>
<br>
<div class="posts">
  {% for post in site.posts limit:3  %}
    {% include project_summary.html %}
  {% endfor %}
</div>

<p class="text-left">You're probably here because you're interested in talking, perhaps about an idea or project you have. That's great! I'd like to help if you need it. Not sure where to start? How about here...</p>

{% include contactform.html %}

<br>