<div id="letter">
  <form method="post" action="//forms.brace.io/stephenvovan@gmail.com">
    <div class="letter-wrapper">
      <div class="pull-right text-right">
        <div>
          <label for="email">From:</label>
          <input type="text" name="email" class="required _replyto" placeholder="You@Email.com"></input>
        </div>
        <div>
          <label for="subject">Subject:</label>
          <input type="text" name="subject" class="required" placeholder="Our Project"></input>
        </div>
      </div>
      <textarea name="message" class="required">
Hey Stevo,

I am interested in ... Our site is http://www.___.com. How do we proceed from here?


Best Regards,
Your Name
      </textarea>
    </div>
    <div class="text-left">
      <span class="pull-right">
        <input type="submit" class="btn btn-primary" value="Send"/>
      </span>
    </div>
  </form>
</div>