<footer class="footer">
  Read more about me on <a href="https://github.com/vovantics"><i class="ion-social-github"></i> GitHub</a> or <a href="http://ca.linkedin.com/pub/stephen-vo-van/14/21a/a93"><i class="ion-social-linkedin-outline"></i> Linked In</a>.<br>
  Need more? <a target="_blank" href="https://www.dropbox.com/s/qnhbnjk5dt0fdri/resume-stephen_vo_van-2015.pdf">See my resume</a>.<br><br>
  &copy; Stevo <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
</footer>
