---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'poole/variables';
@import 'poole/base';
@import 'poole/type';
@import 'poole/layout';
$ionicons-font-path: "/assets/fonts" !default;
@import "ionicons/ionicons-variables";
@import "ionicons/ionicons-font";
@import "ionicons/ionicons-icons";

$root-font-family: 'Open Sans', sans-serif;
$root-font-size: 14px;
$large-font-size: 14px;
$body-color: #fff;
$body-bg: #000;
$link-color: #2962ff;

/*
 * Base.
 */

html {
  font-family: $root-font-family;
  font-size: $root-font-size;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}
body {
  color: $body-color;
  background-color: $body-bg;
  padding: 2rem 1rem;
  text-align: center;
}
a {
  color: $link-color;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
header {
  font-size: 1.25rem;
  font-weight: 300;
  a:hover,
  a:focus {
    text-decoration: none;
  }
}
hr {
  max-width: 6rem;
  margin: 3rem auto;
  border-top-color: #fff;
  border-bottom: 0;
}

/*
 * Custom.
 */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }