<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <section class="header">
        <span class="lead"><a href="{{ site.baseurl }}" title="Home" style="color: black;"><strong>{{ site.title }}</strong></a></span>
        <br>
        <span class="lead"><a href="mailto:{{ site.author.email }}" style="color: black;">{{ site.author.email }}</a></span>
      </section>

      <hr>

      <main>
        {{ content }}
      </main>

      <hr>

      {% include footer.html %}

    </div>

    {% include google_analytics.html %}

  </body>

</html>
